<header class="header">
  <div class="container" fxLayout="row wrap" fxLayoutAlign="start center">
    <div class="navbar-mobile-top" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start center">
      <div class="header-container logo">
        <img src="../../assets/img/logo.jpeg" alt="Logo" routerLink="/">

        <nav class="nav-menu top-navbar">
          <ul>
            <li *ngIf="isAdmin"><a class="nav-links" routerLink="/cadastrar-habilidades">Gerenciar Habilidades</a></li>
            <li *ngIf="isCandidate"><a class="nav-links" routerLink="/cadastrar-vagas">Gerenciar Vagas</a></li>
<!--            <li routerLink="/buscar-vagas"><a class="nav-links">Buscar Vagas</a></li>-->
            <li routerLink="/cadastrar-vagas"><a class="nav-links">Detalhes</a></li>
            <li><a class="nav-links" (click)="onSignOut()">Sair</a></li>
          </ul>
        </nav>

        <button class="navbar-toggle" mat-icon-button [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button *ngIf="isAdmin" routerLink="/cadastrar-habilidades" mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>Gerenciar Habilidades</span>
          </button>

          <button *ngIf="isCandidate" routerLink="/cadastrar-vagas" mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>Gerenciar Vagas</span>
          </button>

          <button mat-menu-item>
            <mat-icon>voicemail</mat-icon>
            <span>Detalhes</span>
          </button>

          <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span (click)="onSignOut()">Sair</span>
          </button>
        </mat-menu>
      </div>
    </div>

  </div>
</header>


