.container {
  display: flex;
  -ms-flex-pack: center;
  height: 100vh;
  width: 100%;
}

.window {
  z-index: 100;
  color: #fff;
  font-family: sans-serif;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  box-shadow: 0px 15px 50px 10px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  width: 100%;
}



.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 140px;
}

.skill-action {
  display: flex;
  gap: 2rem;
  margin: 2rem;
  font: 2rem bold Arial;
}

.login-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.logo {
  max-width: 100%;
  margin-bottom: 20px;
  width: 80px;
  border-radius: 100%;
}

.column-group{
  display: flex;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* margin-bottom: 15px; */
  /* text-align: left; */
  /* max-width: 20rem; */
}

.form-group {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.show-selected-skills {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1rem;
  font-weight: lighter;
}

.show-selected-skills div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 480px;
  gap: 1rem;
}

.highlight {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  cursor: pointer;
  transition: color .2s ease;
}

.highlight:hover {
  color: #fff;
  transition: color .2s ease;
}

.spacing {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 120px;
  font-weight: 300;
  text-align: center;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.65)
}

/* Media queries for different screen sizes */
@media (max-width: 480px) {
  .column-group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {}

@media (max-width: 992px) {}

@media (max-width: 1200px) {}

/* ============================= */





label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  /* padding: 8px; */
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}
